{% extends 'base.html' %}
{% block content %}
{% load static %}
  <div class="hero_area">
    <!-- header section strats -->
    <div class="hero_bg_box">
      <div class="img-box">
        <img src="{% static 'images/front.jpg' %}" alt="">
      </div>
    </div>
{% include "nav.html" %}
    <!-- end header section -->
    <!-- HTML !-->


    <!-- slider section -->
{% include "main.html" %}
    <!-- end slider section -->
  </div>

  <!-- service section -->

{% include "services.html" %}
  <!-- end service section -->








{% include "footer.html" %}


{% endblock %}

