    <!-- slider section -->
    <section class=" slider_section " id="index">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Your Plant <br>
                      <span>
                       Is Our Responsibility
                      </span>
                    </h1>
                    <p>
                      Farming is the ultimate act of optimism and self-reliance.,
                      Let's start  with our expert knowledge.
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'connect_view' %}" class="btn-1">Connect</a>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="container idicator_container">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </div>
    </section>