<div class="header_bottom" style="background:#000000">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="{% url 'index_view' %}">
            <span>
              Farmer's Brain
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""></span>
          </button>

          <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index_view' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              {% if  name == 'index' %}
              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'chatbot_view' %}" target="_blank"> AgriBot </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'connect_view' %}" target="_blank"> Connect </a>
              </li>
              <li class="nav-item" id="google_translate_element">

              </li>

            </ul>
          </div>
        </nav>
      </div>
    </div>
